/* Default Document Setup */

:root {
	--mapWidth: 508;
	--mapHeight: 708;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: black;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "monocraft", sans-serif;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

/* Scrollbar Settings */

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f110;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(166, 194, 201, 0.247);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(187, 125, 167);
}

/* Font Definitions */

@font-face {
	font-family: "monocraft";
	src: url("./fonts/monocraft/Monocraft.otf");
}

@font-face {
	font-family: "PIXEBOB";
	src: url("./fonts/pixbob/PIXBOB\ LITE.otf");
}

.asset {
	user-select: none;
	animation: load2 1s;
	/* pointer-events: none; */
}

/* Game Avatar Setup */

.pxperson {
	animation: pixelBob 2s infinite;
	position: absolute;
	left: -7px;
	z-index: 2;
	user-select: none;
	pointer-events: none;
	-webkit-user-drag: none;
}

.pxpot {
	/* position: absolute; */
	top: 21px;
	z-index: 3;
	/* left: 50%; */
}

.flower {
	position: absolute;
	animation: pixelBob 2s infinite;
	top: 8px;
	left: 3px;
	z-index: 1;
}

.flwprem {
	top: 2px;
	left: -1px;
}

.shadow {
	position: absolute;
	z-index: -1;
	top: 30px;
	left: 1px;
}

.pfpasset {
	/* background-color: #692f64; */
	position: relative;
	animation: load2 1s;
}

/* Gamebox Layout */

.gamecont {
	width: 100vw;
	height: 100vh;
	padding: 50px;

	background-color: #c4f0fa;
	background-image: url("./images/Blue\ BG.svg");
	background-repeat: repeat-y;
	background-size: cover;

	background-position: 50% 15%;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow-wrap: break-word;
}

.gamecont h1 {
	/* color: #3f664c; */
	font-family: "PIXEBOB", "monocraft", sans-serif;
	font-size: 72px;
	text-align: center;
	animation: load 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	max-width: 100%;
	word-break: normal;
}

.gamecont p {
	text-align: center;
	animation: load 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#camera {
	/* position: absolute; */
	/* animation: bgMotion 40s infinite ease-in-out; */
	display: block;
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	aspect-ratio: 16/9;
	object-fit: contain;
	overflow: scroll;

	/* background-color: #2a704a; */
	background-color: #2f6943;
	background-image: url("./images/map_assets/grassnoise_1400.png");
	background-size: calc(187 * 2.5px) calc(195 * 2.5px);
	position: relative;
	animation: load 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	display: none;
}

@media only screen and (max-width: 768px) {
	#camera {
		aspect-ratio: none;
		width: 100%;
	}

	.gamecont h1 {
		font-size: 48px;
		line-height: 0.8;
	}
	p {
		font-size: 14px;
	}

	#playbutton {
		font-size: 20px;
	}
}

#map {
	background-color: #2f6943;
	background-image: url("./images/map_assets/grassnoise_1400.png");
	animation: cameraMotion 40s infinite ease-in-out;

	background-size: 187px 195px;
	transform: scale(2.5);
	transform-origin: 0% 0% 0;

	position: absolute;
	top: 0;
	left: 0;
	overflow: visible;
}

/* Animations */

@keyframes cameraMotion {
	0% {
		top: 30px;
		left: 30px;
	}
	25% {
		top: 30px;
		left: calc(-1 * (var(--mapWidth) * 1px));
	}
	50% {
		top: calc(-1 * (var(--mapHeight) * 1px));
		left: calc(-1 * (var(--mapWidth) * 1px));
	}

	75% {
		top: calc(-1 * (var(--mapHeight) * 1px));
		left: 30px;
	}
	100% {
		top: 30px;
		left: 30px;
	}
}

@keyframes bgMotion {
	0% {
		background-position: 30px, 30px;
	}
	25% {
		background-position: calc(-1 * (var(--mapWidth) * 1px)), 30px;
	}
	50% {
		background-position: calc(-1 * (var(--mapWidth) * 1px)),
			calc(-1 * (var(--mapHeight) * 1px));
	}

	75% {
		background-position: 30px, calc(-1 * (var(--mapHeight) * 1px));
	}
	100% {
		background-position: 30px, 30px;
	}
}

@keyframes pixelBob {
	0% {
		margin-top: 0px;
	}
	50% {
		margin-top: 1px;
	}
	52% {
		margin-top: 1px;
	}
	60% {
		margin-top: 0px;
	}
}

@keyframes load {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes load2 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes slideinleftbottom {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(0%, 0);
	}
}

/* Tooltip Setup */

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
	font-size: 3px;
	left: 50%;
	transform: translate(-50%, 0%);
	cursor: -moz-pointer;
	cursor: -webkit-pointer;
	cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;

	background-color: rgb(255, 255, 255);
	color: rgb(41, 41, 41);
	text-align: center;
	padding: 1px 3px;
	top: 2px;
	/* border-radius: 20px; */
	border: 1px solid rgb(41, 41, 41);
	backdrop-filter: blur(3px);
	/* Position the tooltip text - see examples below! */
	position: absolute;

	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltipHover {
	transform: translate(-2px, -10px) scale(1.2);
	transform-origin: center;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tooltipRegular {
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tooltipHover .tooltiptext {
	visibility: visible;
}

.pause {
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-o-animation-play-state: paused !important;
	animation-play-state: paused !important;
}

.unscrollable {
	overflow: hidden !important;
}

a {
	color: #ff3494;
}

.pixel2 {
	animation: load 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#playbutton {
	display: none;
	box-shadow: inset 0px -15px rgba(0, 0, 0, 0.2),
		inset 0px 5px rgba(255, 255, 255, 0.2);
}

.shy {
	visibility: hidden;
	width: 0px;
	position: absolute;
}

.viewer {
	display: flex;
	flex-direction: row;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}

#pxbg {
	background-size: 160px 160px;
	aspect-ratio: 1/1;
	height: 160px;
	width: 160px;
	display: block;
}

#pxfg {
	position: absolute;
	background-size: 160px 160px;
	aspect-ratio: 1/1;
	height: 160px;
	width: 160px;
	display: block;
}

.nftimg {
	position: relative;
	/* height: 160px;
	width: 160px; */
	border: 3px solid rgba(0, 0, 0, 0.3);
}

.pximg {
	display: inline-flex;
}

#nftviewer {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 3px solid rgb(0, 0, 0, 0.5);

	background-color: #ff3494;
	padding: 10px;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 10px;

	overflow: hidden;

	animation: slideinleftbottom 2s cubic-bezier(0.71, 0, 0.33, 1.56);
	transform: scale(1);

	display: none;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.71, 0, 0.33, 1.26);
	transition-property: all;
	box-shadow: inset -5px -5px rgba(0, 0, 0, 0.2),
		inset 5px 5px rgba(255, 255, 255, 0.2);
}

/* #nftviewer:hover {
	transform: scale(1.02) translate(-1%, -1%);
} */

#nftviewer:hover > .downloadButton {
	height: auto !important;
	transition-duration: 50ms;
	transition-timing-function: cubic-bezier(0.71, 0, 0.33, 1.56);
	padding: 10px;
}

#viewer {
	position: relative;
	background-color: #2a704a;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

#nftviewer p {
	width: 160px;
	overflow-wrap: break-word;
	color: white;
}

@media only screen and (max-width: 768px) {
	#pxbg {
		background-size: 80px 80px;
		height: 80px;
		width: 80px;
	}

	#pxfg {
		background-size: 80px 80px;
		height: 80px;
		width: 80px;
	}

	#nftviewer p {
		width: 80px;
	}

	#buttonsecondtext {
		display: none;
	}
}
.nftviewerclose {
	right: -100% !important;
	transition-delay: 1s;
	transition-duration: 1s;
	transform: rotate(30deg);
	transition-timing-function: cubic-bezier(0.71, 0, 0.33, 1.56);
	/* display: none; */
}

canvas {
	display: none;
}

.downloadButton {
	background: #c4f0fa;
	color: black;
	text-align: center;
	box-shadow: inset -5px -5px rgba(0, 0, 0, 0.2),
		inset 5px 5px rgba(255, 255, 255, 0.5);
	overflow: hidden;
	text-decoration: none;
	height: 0px !important;
	display: block;
	transition-duration: 100ms;

	transition-timing-function: cubic-bezier(0.71, 0, 0.33, 1.56);

	user-select: none;
	cursor: pointer;
}

.tooltip:hover > #spotlight {
	width: 64px;
	height: 64px;
	background-color: rgba(255, 255, 255, 0);
	mix-blend-mode: soft-light;
	display: block !important;
	border-radius: 100%;
	transform: translate(-24px, -12px);
	transition-duration: 1s;
}

.spotlight {
	display: block !important;

	transform: translate(-24px, -6px);
	transition-duration: 1s;
	opacity: 100%;
}

#spotlight {
	display: none;
	z-index: 1;
	position: absolute !important;
	width: 64px;
	height: 64px;
	background-color: rgba(255, 255, 255, 0.2);
	/* mix-blend-mode: soft-light; */
	border-radius: 100%;
	filter: blur(10px);
	user-select: none;
	pointer-events: none;
}

#playbutton2,
#playbutton2::before,
#playbutton2::after {
	background: #3494ff !important;
}

.spotlightClose {
	opacity: 0;
}

#overlay {
	z-index: 1;
	user-select: none;
	pointer-events: none;
	transition-delay: 50ms;
	transition-duration: 1s;

	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	mix-blend-mode: soft-light;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.overlayOpen {
	display: block !important;

	transition-duration: 1s;
	transition-delay: 20ms;
	transition: all;
}

.overlayClose {
	opacity: 0%;
	transition-duration: 2s;
	transition-delay: 200ms;
	transition: all;
}
