/* Default Document Setup */

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: black;
	position: relative;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "monocraft", sans-serif;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

/* Scrollbar Settings */

/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f110;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(166, 194, 201, 0.247);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(187, 125, 167);
}

/* Font Definitions */

@font-face {
	font-family: "monocraft";
	src: url("./fonts/monocraft/Monocraft.otf");
}

@font-face {
	font-family: "PIXEBOB";
	src: url("./fonts/pixbob/PIXBOB\ LITE.otf");
}

.asset {
	user-select: none;
	pointer-events: none;
}

/* Game Avatar Setup */

.pxperson {
	animation: pixelBob 2s infinite;
	position: absolute;
	left: -7px;
	z-index: 2;
	user-select: none;
	pointer-events: none;
	-webkit-user-drag: none;
}

.pxpot {
	/* position: absolute; */
	top: 21px;
	z-index: 3;
	/* left: 50%; */
}

.flower {
	position: absolute;
	animation: pixelBob 2s infinite;
	top: 8px;
	left: 3px;
	z-index: 1;
}

.flwprem {
	top: 2px;
	left: -1px;
}

.shadow {
	position: absolute;
	z-index: -1;
	top: 30px;
	left: 1px;
}

.pfpasset {
	/* background-color: #692f64; */
	position: relative;
}

/* Gamebox Layout */

.gamecont {
	width: 100vw;
	height: 100vh;
	padding: 50px;
	position: relative;
	background-color: #c4f0fa;
	background-image: url("./images/Blue\ BG.svg");
	background-repeat: repeat-y;
	background-size: cover;

	background-position: 50% 15%;

	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow-wrap: break-word;
}

.gamecont h1 {
	/* color: #3f664c; */
	font-family: "PIXEBOB", "monocraft", sans-serif;
	font-size: 72px;
	text-align: center;
	animation: load 2s cubic-bezier(0.075, 0.82, 0.165, 1);
	max-width: 100%;
	word-break: normal;
}

.gamecont p {
	text-align: center;
	animation: load 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#camera {
	/* position: absolute; */
	/* animation: cameraMotion 40s infinite ease-in-out; */
	display: block;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	aspect-ratio: 16/9;
	object-fit: contain;
	overflow: scroll;

	background-color: #2a704a;
	position: relative;
	animation: load 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (max-width: 768px) {
	#camera {
		aspect-ratio: 9/16;
	}
}

#map {
	background-color: #2f6943;
	background-image: url("./images/map_assets/grassnoise.png");
	animation: cameraMotion 40s infinite ease-in-out;

	background-size: 187px 195px;
	transform: scale(3);
	transform-origin: 0% 0% 0;

	position: absolute;
	top: 0;
	left: 0;
}

/* Animations */

@keyframes cameraMotion {
	0% {
		top: 0%;
		left: 0%;
	}
	25% {
		top: 0%;
		left: -50%;
	}
	50% {
		top: -50%;
		left: -50%;
	}

	75% {
		top: -50%;
		left: 0%;
	}
	100% {
		top: 0%;
		left: 0%;
	}
}

@keyframes pixelBob {
	0% {
		margin-top: 0px;
	}
	50% {
		margin-top: 1px;
	}
	52% {
		margin-top: 1px;
	}
	60% {
		margin-top: 0px;
	}
}

@keyframes load {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/* Tooltip Setup */

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
	font-size: 3px;
	left: 50%;
	transform: translate(-50%, 0%);
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;

	background-color: rgb(255, 255, 255);
	color: rgb(41, 41, 41);
	text-align: center;
	padding: 1px 3px;
	top: 2px;
	/* border-radius: 20px; */
	border: 1px solid rgb(41, 41, 41);
	backdrop-filter: blur(3px);
	/* Position the tooltip text - see examples below! */
	position: absolute;

	z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.pause {
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-o-animation-play-state: paused !important;
	animation-play-state: paused !important;
}

.unscrollable {
	overflow: hidden !important;
}

a {
	color: #ff3494;
}

.pixel2 {
	animation: load 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shy {
	visibility: hidden;
	width: 0px;
	position: absolute;
}
